.button {
	cursor: pointer;

	border: 2px solid #7b6ef6;
	border-radius: 12px;
	padding: 16px 32px;

	background: #7b6ef6;

	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
}
.button:hover {
	background: #51489e;
}
