.layout {
	background-image: url('/Background.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.navBar {
	padding: 0 120px;
	height: 80px;

	background: rgba(18, 24, 41, 0.8);
	backdrop-filter: blur(20px);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 40px;
	height: 40px;
}

.menu {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.link {
	padding: 12px 16px;

	display: flex;
	align-items: center;
	gap: 8px;

	color: #a8aebf;
	letter-spacing: 0.32px;

	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	color: #ffffff;
}

.active {
	color: #ffffff;
}

.menu__counter {
	background: #7b6ef6;

	color: #ffffff;
	font-size: 14px;
	letter-spacing: 0.28px;

	border-radius: 50%;
	width: 24px;
	height: 24px;

	text-align: center;
}

.icon {
	width: 24px;
	height: 24px;
}

.logout {
	display: flex;
	align-items: center;
	gap: 8px;
}
