.input-form_search {
	display: flex;
	gap: 8px;
	margin-bottom: 80px;
}

.input_search {
	width: 352px;
	display: flex;
	padding: 12px 16px;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid var(--Grey-700, #323b54);
	background: var(--Black-10, rgba(0, 0, 0, 0.1));
}

.input__icon {
	width: 24px;
	height: 24px;
}

.input__content_search {
	padding: 0;
	height: 40px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex: 1 0 0;
	color: var(--Grey-600, #475069);
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.button_search {
	cursor: pointer;
	border-radius: 12px;
	padding: 16px 32px;
	border: 2px solid var(--Primary-400, #7b6ef6);
	background: var(--Primary-400, #7b6ef6);
	color: var(--White-100, #fff);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
}
.button_search:hover {
	background: #51489e;
}
