.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar__logo {
	width: 40px;
	height: 40px;
}

.nav-bar__menu {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.menu__item {
	display: flex;
	padding: 12px 16px;
	align-items: center;
	gap: 8px;
	color: var(--Grey-200, #a8aebf);
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.32px;
}

.menu__item_active {
	color: #fff;
}

.menu__counter {
	background: #7b6ef6;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.28px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	flex-shrink: 0;
}

.login {
	padding: 12px 32px;
}

.icon-login {
	width: 24px;
	height: 24px;
}
