:root {
	font-family: 'Poppins', sans-serif;
	font-style: normal;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: var(--Grey-900, #121829);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-image: url('/Background.svg');
	background-size: cover; /* Масштабирование. Для покрытия всего экрана */
	background-repeat: no-repeat; /* Запрет повторения */
	background-position: center; /* Выравнивание по центру */
	max-width: 1440px;
	margin: auto;
}
