:root {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;

	color-scheme: light dark;
	color: #ffffff;
	background: #121829;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: auto;
}
